* {
    box-sizing: border-box;
}

th {
    background-color: rgb(0,174,239) ;
    color: white;
}
th, td {
    border-radius: 5px;
    padding: 15px;
    text-align: left;
    border: 0.5px solid lightgray;
}


body {
    font-family: 'roboto' ,sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: #5CDB85;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    float: left;
}
/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}
.vervoer{
    background-color:  rgb(0,174,239);
    height: 30px;
    width: 70px;
    color: white;
    border: 1px solid white;
    border-radius: 5px;

}
/* Next & previous buttons */
.prev {
    float: left;
    width: 20px;
    height: 70px;
    padding-top: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    background-color: darkgray;
    color: white;
}
.next {
    float: left;
    width: 20px;
    height: 70px;
    padding-top: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    background-color: darkgray;
    color: white;

}

.round {
    border-radius: 50%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
/* Number text (1/3 etc) */
.numbertext {
    color: #F2F2F2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
/* Container for image text */
.caption-container {
    text-align: center;
    background-color: white;
    padding: 1px 2px;
    color: white;
    width: 100%;
}
/* Six columns side by side */
.column {
    float: left;
    width: 100%;
    background-color: white;
}
/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.9;
}
.active,
.demo:hover {
    opacity: 1;
}

.logo{
    margin-right: 70%;
}

/* Style the top navigation bar */
.header {
    display: flex;
    overflow: hidden;
    background-color: #5CDB85;
    height: 10%
}

/* Style the header links */
.header a {
    text-align: center;
    float: right;
    color: black;
    padding: 0px 10px;
    padding-bottom: 3px;
    text-decoration: none;
}
/* Change color on hover */
.header a:hover {
    color: #f5f5f5;
}
/* Positioning of the Nav Bar elements */
.head-left{
    width: 35%;
    float: left;
    padding-right: 25px;
}
.head-left a{
    float: left
}
.head-mid{
    float: none;
    width: 55%;
}
.head-right{
    width: 35%;
    float: right;
    padding-left: 25px;
}

.nav-search {
    margin-top: 32px;
    width: 1100px;
    margin-left: 310px;
}

.row {
    margin: 0 auto;
    padding-top: 0px;
    display: flex;
}
img {
    vertical-align: middle;
}

/* Clear floats after the columns */
.row:after {
    display: table;
    clear: both;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 25%;
    padding-right: 20px;
}

.midcolumn {
    position: relative;
    width: 55%;
    margin-top: 15px;
    background-color: #FAF8F5;
}

/* Right column */
.rightcolumn {
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
}

/* Add a card effect for articles */
.card-left {
    float: left;
    background-color: #b0acac;
    padding: 20px;
    margin-top: 0px;
    height: 100%;
}
.card {
    text-align: center;
    background-color: #FAF8F5;
    padding: 20px;
    width: 100%;
}

.logolink {
    color: black;
    text-decoration: none;
}
.logolink :hover{
    box-shadow: 5px 10px 8px lightgray;
}
.category-container{
    background-color: #FAF8F5;
}
.category-container :hover {
    background-color: grey;
}
.category-item{
    background-color: rgb(0,174,239);
    border: 1px solid black;
    margin-bottom: 5px;
    border-radius: 5px ;
    font-size: 20px;
    padding: 20px;
}
.category-item a {
    color: black;
    text-decoration: none;
}

.product-container{
    display: grid ;
    grid-template-columns: auto auto auto auto ;
    padding: 5px;
    position: relative;
}

.product-item{
    background-color: #b0acac;
    border: 0.5px solid black;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
    padding: 10px;
    height: 290px;
    width: 250px;
}

.product-item-price{
    background-color: lightgray;
}

.product-right-info {
    position: static;
    width: 35%;
    margin-top: 60px;
    margin-right: 120px;
    float: right;


}
.product-left-info {
    margin-top: 60px;
    float: left;
}

.form{
    text-align: center;
}
.text {
    width: 40%;
    background-color: lightgray;
    border: 0px;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 23%;
}

.midcolumn {
    float: left;
    width: 60%;
}

/* Right column */
.rightcolumn {
    float: right;
    width: 40%;
}

/* Fake image */
.fakeimg {
    pointer-events: none;
}

.img{
    width: 100%;
    height: 200px;

}

/* Add a card effect for articles */

.card-left {
    float: left;
    padding-right: 20px;
    padding-bottom:100%;
    border-right: 2px solid gray;
}
.card {
    text-align: center;
    background-color: white;
    padding: 20px;
    width: 100%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 5px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}
/* Nieuw voor account aanmaken */

.inlog{
    text-align: left;
    padding-left:5%;
    background-color: lightgrey;
    color:black;

}

.button{
    border-radius: 5px;
    border:0;
    width: 30%;
    height:35px;
    background-color: rgb(0,174,239);
    color:white;
    font-weight:bold;
}

.textinbox{
    border-radius: 3px;
    border:0;
    font-size:100%;
}
input:required {
    background-color: white;
}


/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}


.login {
    margin-left: 45%;
}

.login2 {
    margin-left: 38%;
}

.productImage {
    height: 120px;
}

.productVideo {
    height: 120px;
}

.productDisplayImage,
.productDisplayImage img{
    position: relative;
    height: 350px;

}

.column,
.column img {
    width: 70px;
    height: 70px;
}

.mySlides {
    float: left;
}

/* pagination */
.page-border {
    display: inline-block;
}
.page-btn {
    font-weight: 100;
    display: inline-block;
    background-color: white;
    color: rgb(0,174,239);
    font-size: 25px;
    border: 1.5px solid #616872 ;
    padding: 8px;
    border-radius: 6px;
    text-decoration: none;
/*
    box-sizing: border-box;
    background-color: #e2e6e6;
    padding: 8px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: #616872;
    border-radius: 4px;

*/
}
.page-btn:hover {
    background-color: #d4dada;
}
/* productpagina */
.product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}

.product-description span {
    font-size: 12px;
    color: rgb(0,174,239);
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}
.product-description h1 {
    font-weight: 300;
    font-size: 52px;
    color: #43484D;
    letter-spacing: -2px;
}
.product-description h2 {
    font-weight: 200;
    font-size: 48px;
    color: rgb(0,174,239);
    letter-spacing: 0px;
}
.product-description p {
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
}
.product-price {
    display: flex;
    align-items: center;
}

.product-price span {
    font-size: 26px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
}

.cart-btn {
    display: inline-block;
    background-color: rgb(0,174,239);
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
}

.cart-btn:hover {
    background-color: darkblue;
}
.checkoutpage{
    margin-left: 42%;

}
/* cart */
.checkout{
    margin-left: 30%;
    border-radius: 5px;
    border:0;
    float: right;
    width: 30%;
    height:35px;
    background-color: rgb(0,174,239);
    color:white;
    font-weight:bold;
}

.cart-btn-small {
    display: inline-block;
    background-color: rgb(0,174,239);
    border-radius: 6px;
    font-size: 10px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 6px 8px;
    transition: all .5s;
}

.cart-btn-small:hover {
    background-color: darkblue;
}
/* al aan winkelwagen toegevoegd */
.alert {
    box-shadow: 5px 10px 8px lightgray;
    text-align: center;
    padding: 20px;
    background-color: rgb(0,174,239);
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.review_star {
    height: 20px;
    width: 20px;
}

.strikeout {
    line-height: 1em;
    position: relative;
    color:red;
}
.strikeout::after {
    border-bottom: 0.2em solid red;
    content: "";
    left: 0;
    margin-top: calc(0.125em / 2 * -1);
    position: ABSOLUTE;
    right: 0;
    top: 50%;
}
